<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body> 
<navbar>
    <a><img src="{% static "hello/quicktrends.jpg" %}" alt="LOGO" height=175  width=175/></a>
    <a><form style="display:inline;" action="" method="GET">
        <label for="ticker">Ticker: </label>
        <input id="ticker" type="text" placeholder= "Search..." name="ticker">
        <input type="submit"  value="Submit">
    </form>
    </a>
    <a><button style="color:red;" type="button">Login</button></a>
</navbar>
   

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
  
</div>
</body>
</html>