<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>


<body style="background-color: #f8f9fa;"> 


<nav class="navbar bg-light">
    <div class="container-fluid ">
    <a class = "navbar-brand" href="http://127.0.0.1:8000/">
        <img src="{% static "hello/quicktrendsSML2.png" %}" alt="LOGO" height=50 width=50 class='d-inline-block'/>QuickTrends
    </a>
    <div class="me-auto">
        <form style="display:inline;" action="" method="GET">
        <label for="ticker">Ticker: </label>
        <input id="ticker" type="text" placeholder= "Search..." name="ticker">
        <input class="btn btn-primary" type="submit"  value="Submit"> 
        </form>
    </div>
    {% if user.is_authenticated %}
        <!-- <p>Hello {{ username }} </p> -->
        <a href="/logout" class="btn btn-primary">Log Out</a>
    {% else %}
        <a href="/login" class="btn btn-primary">Login</a>
    {% endif %}

</div>
</nav>






<div class="body-content">
    <div style="background-color: #bbc4f0">
        {% block content %}
        {% endblock %}
    </div>
</div>


<script src="" async defer></script>
</body>
</html>