.navbar {
    background-color: #e0e0e0;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.navbar a{
    display: inline;
}
/* .search-bar{
    float: right;
    margin-left: 10px
 } */